= link_to board_task_path(@board,task.id) do
  .task
    - if task.eyecatch.attached?
      .task_image
        = image_tag task.eyecatch
    .task_content
      .task_title
        = task.title
      .task_detail
        = task.content
