.container
  .tabs
    .tabs_item.active
      新着記事一覧
    .tabs_item
      タイムライン
  .card

    .card_content
      .card_heart

        %span 23
      .card_detail

        %div
          %p cohki0305
          %p 2020/4/16
  .card
    .card_image

    .card_content
      .card_heart

        %span 23
      .card_detail

        %div
          %p cohki0305
          %p 2020/4/16
  .card
    .card_image

    .card_content
      .card_heart

        %span 23
      .card_detail

        %div
          %p cohki0305
          %p 2020/4/16
  = link_to new_board_path do
    .float_btn
      %i.fa.fa-plus
