@import 'header';
@import 'variables';
@import 'card';
@import 'board';
@import 'buttons';
@import 'form';
@import 'flash';
@import 'common';
@import 'task';


html {
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

body {
  height: 100%;
  background-color: $base-bg-color;
  font-size: 1em;
  color: $text-base-color;
}

.container {
  position: relative;
  padding: 16px 30px 24px;
  width: 100%;
  background: #FFFFFF;
  
  h1 {
    width: 300px;
    font-weight: 800;
    font-size: 26px;
    line-height: 36px;
    color: #000000;
    margin: 16px 0px 36px;
    word-wrap: break-word;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
