@import './variables';
  .btn-primary {
    position: absolute;
    width: 362px;
    height: 40px;
    left: 30px;
    top: 889px;
    color: white;
    background: #F8BD1C;
    border-radius: 4px;

  }
