@import 'variables';

$avatar-size: 40px;
$header-padding-y: 16px;

.header {
  height: 58px;
  border-bottom: solid 1px #000000;

  &_pageTitle {
    position: absolute;
    height: 25px;
    left: 30px;
    top: 17px;

    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    /* identical to box height */
    color: #000000;

  }

  &_avatar {
    width: 40px;
    height: 40px;
    background: url(Image.png);
  }

  &_loginBtn {
    background-color: $base-bg-color;
    height: $avatar-size;
    border-radius: 8px;
    font-size: 12px;
    padding: 12px 16px;
    color: $primary-color;
    top: 5px;
    left: 310px;
    position: absolute;
  }
}
