@import './variables';
$avatar-size: 32px;

.task {
  background: #F4F4F4;
  margin: 24px 0;
  cursor: pointer;
  border-radius: 10px;
  padding: 16px 16px;
  margin-bottom: 26px;
  font-family: Avenir;
  font-style: normal;
  font-weight: normal;
  &_title {
    margin-bottom: 10px;
    overflow: hidden;

    font-size: 18px;
    line-height: 25px;
    color: #000000;
  }

  &_con {
    word-wrap: break-word;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &_detail {
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 5px;
    text-overflow: ellipsis;
    color: #000000;
    word-wrap: break-word;

    mix-blend-mode: normal;
    opacity: 0.4;
  }

  &_image {
    overflow: hidden;
    text-align: center;
    background: url(Image.png);
    img {
      width: 100%;
      height: 170px;
      border-radius: 8px;
    }
  }
}
.task_index {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.task_comment {
  position: relative;
  margin-bottom: 30px;
  &_content {
    position: absolute;
    width: 260px;
    height: 57px;
    left: 50px;
    top: 0px;
    font-size: 14px;
    overflow: hidden;
    word-wrap: break-word;
  }
  img {
  }
}
.comment_title {
  margin-bottom: 25px;
}
