@import './variables';
$avatar-size: 32px;

.task {
  background: #F4F4F4;
  margin: 24px 0;
  cursor: pointer;
  border-radius: 10px;
  padding: 16px 16px;

  &_title {
    margin-bottom: 10px;
    overflow: hidden;

    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
  }

  &_detail {
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 30px;

    color: #000000;

    mix-blend-mode: normal;
    opacity: 0.4;
  }
  &_image {
    overflow: hidden;
    margin-bottom: 30px;
    text-align: center;
    background: url(Image.png);
    img {
      width: 100%;
      height: 170px;
      border-radius: 8px;
    }
  }
}
